@import url("colors/wallust-colors.css");

@define-color text @cursor;
@define-color base @color1;
@define-color bordercolor @color8;
@define-color workspace @color5;
@define-color workspace_active @color5;
@define-color workspace_hover @color5;
@define-color workspace_empty @color4;
@define-color pulse_audio @color7;
@define-color pulse_audio_muted @color6;
@define-color window @cursor;

@keyframes blink {
    to {
        background-color: @base;
        color: @text;
    }
}

* {
    border: 0;
    border-radius: 0px;
    font-family: 'Inter Medium',FontAwesome,'JetBrainsMono Nerd Font';
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 0px;
}

#waybar {
    background-color: rgba(0,0,0,0.2);
    border-bottom: 0px solid #ffffff;
    margin-left: 1rem;
    margin: -2px;
    transition-property: background-color;
    transition-duration: .5s;
}

#hyprland-submap,
#window {
    padding: 0;
    margin: 0 4px;
    font-size: 14px;
    font-weight: 700;
    color: @window;
}

#waybar.empty {
    color: @base;
}

#workspaces {
    border-radius: 1rem;
    margin: 0px;
    margin-left: 1rem;
    color: @workspace;
}

#workspaces button {
  color: @workspace;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @workspace_active;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @workspace_hover;
  border-radius: 1rem;
}

#workspaces button.empty {
     color: @workspace_empty;
}

#tooltip {
    border-radius: 5px;
    background-color: @base;
    opacity: .9;
    margin: 10px;
    padding: 0 5px;
    font-size: 16px;
}

#tooltip label {
    color: @text;
}

#taskbar {
    margin: 6px 15px 6px 0;
    padding: 0;
    border-radius: 15px;
    font-weight: 400;
    font-style: normal;
}

#taskbar button {
    margin: 0;
    border-radius: 15px;
    padding: 0 5px;
}

#custom-logo {
    margin-right: 5;
    font-size: 16px;
    font-weight: 700;
    color: @text;
}

#custom-brave,
#custom-browser,
#custom-calculator,
#custom-cliphist,
#custom-configs,
#custom-exit,
#custom-filemanager,
#custom-keybindings,
#custom-scripts,
#custom-settings,
#custom-swaync,
#custom-wallpaper,
#custom-waybarthemes,
#idle_inhibitor {
    margin-right: 15px;
    font-size: 14px;
    font-weight: 700;
    color: @text;
}

#idle_inhibitor.activated {
    margin-right: 15px;
    font-size: 14px;
    font-weight: 700;
    color: @red;
}

#custom-music,
#custom-system,
#custom-tray,
#custom-updates {
    border-radius: 1rem;
    padding: 0.4rem;
}

#custom-updates.green {
    color: @text;
}

#custom-updates.yellow {
    color: @yellow;
}

#custom-updates.red {
    color: @red;
}

#pulseaudio.muted {
    color: @pulse_audio_muted;
}

#cpu,
#disk,
#language,
#memory,
#mpd,
#temperature {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: @text;
}

#clock,
#custom-clock,
#custom-weather {
    border-radius: 0 1rem 1rem 0;
    margin-right: 1rem;
    color: @text;
}

#pulseaudio {
    color: @pulse_audio;
    border-radius: 1rem 0 0 1rem;
    margin-left: 1rem;
}

#network.ethernet,#network.wifi {
    padding: 0;
    color: @text;
    background-color: transparent;
}

#bluetooth,
#bluetooth.connected,
#bluetooth.on,
#network {
    font-size: 14px;
    color: @text;
    border-radius: 15px;
    padding: 2px 10px 0;
    margin: 10px 15px 10px 0;
}

#bluetooth.off {
    padding: 0;
    margin: 0;
}

#battery,
#battery.charging,
#battery.plugged {
    color: @green;
}

#battery.critical:not(.charging) {
    color: @text;
    animation-name: blink;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    font-size: 14px;
    color: @text;
    border-radius: 15px;
    padding: 2px 10px 0;
    margin: 10px 15px 10px 0;
}

#tray>.passive {
    -gtk-icon-effect: dim
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#label:focus {
    background-color: @base;
}

#backlight {
    background-color: @text;
}

#network {
    background-color: @blue;
}

#network.disconnected {
    background-color: @red;
}
