@define-color backgroundlight #FFFFFF;
@define-color backgrounddark #000000;
@define-color background1 #FFFFFF;
@define-color background2 #CCCCCC;
@define-color bordercolor #FFFFFF;
@define-color textcolor1 #000000;
@define-color textcolor2 #FFFFFF;
@define-color textcolor3 #FFFFFF;
@define-color iconcolor #FFFFFF;

* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: rgba(0,0,0,0.4);
    border-bottom: 0px solid #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#tags {
    margin: 5px 1px 6px 1px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    color: @textcolor1;
}

#tags button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: #FFA800;
    transition: all 0.3s ease-in-out;
}

#tags button.occupied:hover {
    color: @textcolor1;
    background: #ff0034;
    border-radius: 15px;
}

#tags button.focussed {
    color: #005500;
    background: @background2;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
}

tooltip {
    border-radius: 10px;
    background-color: @backgrounddark;
    opacity:0.8;
    padding:20px;
    margin:0px;
}

tooltip label {
    color: @textcolor2;
}

#window {
    background: @backgrounddark;
    margin: 10px 15px 10px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 12px;
    color:@textcolor2;
    font-size:16px;
    font-weight:normal;
}

window#waybar.empty #window {
    background-color:transparent;
}

#taskbar {
    background: @backgroundlight;
    margin: 6px 15px 6px 0px;
    padding:0px;
    border-radius: 15px;
    font-weight: normal;
    font-style: normal;
    border: 3px solid @backgroundlight;
}

#taskbar button {
    margin:0;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
}

.modules-left > widget:first-child > #tags {
    margin-left: 0;
}

.modules-right > widget:last-child > #tags {
    margin-right: 0;
}

#custom-logo,
#custom-settings,
#custom-exit,
#custom-brave,
#custom-browser,
#custom-calculator,
#custom-cliphist,
#custom-configs,
#custom-filemanager,
#custom-keybindings,
#custom-scripts,
#custom-teams,
#custom-wallpaper,
#custom-waybarthemes {
    margin-right: 15px;
    font-size: 16px;
    font-weight: bold;
    color: @iconcolor;
}

#idle_inhibitor {
    margin-right: 15px;
    font-size: 16px;
    font-weight: bold;
    color: @iconcolor;
}

#idle_inhibitor.activated {
    margin-right: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #dc2f2f;
}

#custom-music,
#custom-system,
#custom-tray,
#custom-updates {
    background-color: @backgrounddark;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 10px 15px 10px 0px;
}

#custom-updates.green {
    background-color: @backgrounddark;
}

#custom-updates.yellow {
    background-color: #ff9a3c;
    color: #FFFFFF;
}

#custom-updates.red {
    background-color: #dc2f2f;
    color: #FFFFFF;
}


#custom-swaync,
#disk,
#memory,
#cpu,
#temperature,
#language,
#mpd {
    margin:0px;
    padding:0px;
    font-size:16px;
    color:@iconcolor;
}

#language {
    margin-right:10px;
}

#clock,
#custom-clock,
#custom-weather {
    background-color: @backgrounddark;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 10px 15px 10px 0px;
}

#pulseaudio
{
    background-color: @backgrounddark;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 10px 15px 10px 0px;
}

#pulseaudio.muted {
    background-color: @backgrounddark;
    color: @textcolor2;
}

#network {
    background-color: @backgrounddark;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 10px 15px 10px 0px;
}

#network.ethernet {
    background-color: @backgrounddark;
    color: @textcolor2;
}

#network.wifi {
    background-color: @backgrounddark;
    color: @textcolor2;
}

#bluetooth,
#bluetooth.on,
#bluetooth.connected {
    background-color: @backgrounddark;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 10px 15px 10px 0px;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

#battery {
    background-color: @backgrounddark;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 15px;
    padding: 2px 15px 0px 10px;
    margin: 10px 15px 10px 0px;
}

#battery.charging,
#battery.plugged {
    color: @textcolor2;
    background-color: @backgrounddark;
}

@keyframes blink {
    to {
        background-color: @backgrounddark;
        color: @textcolor2;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @textcolor3;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    background-color: @backgrounddark;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 10px 15px 10px 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

label:focus {
    background-color: #000000;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}
